---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
   
 

  
     </div>
    <div class="container">
      <div class="">
    <div class="last-post">
    
        
        <div class="collection">
        {% for post in site.posts %}
        <div class="col s6 m4  collection-item hoverable">
          {% assign date_format = site.minima.date_format | default: "%-d %b %Y" %}
          <div class="">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          
          <p>
             {{ post.content |strip_html | truncatewords: 100 }}
             
          </p>
         <p> <a href="{{ post.url | relative_url }}" class="btn light-blue">Read More</a></p>
        </div>
        
        {% endfor %}
        </div>  
    
    </div>
    </div>
<!--<div class="card">
       <div class="last-post">
    
        <h5>Latest Post</h5>
        <div class="collection">
        {% for post in site.posts %}
        <div class="col s6 m4  collection-item avatar">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
             {{ post.content | truncatewords: 10 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </div>
        {% endfor %}
        </div>  
     </div>
    </div>-->
      </div>
 <!--<div class="row">
           {% for post in site.posts %}
        <div class="col s12 m4">
          <div class="card blue-grey darken-1">
             {% assign date_format = site.minima.date_format | default: "%m/%d" %}
            <div class="card-content white-text">
              <span class="card-title">{{ post.title | escape }}</span>
              <p>{{ post.content | truncatewords: 10 }}</p>
            </div>
            <div class="card-action">
              <a href="{{ post.url | relative_url }}" class="">This is a link</a>
              <a href="http://www.smitshah.in" class=""><div class="chip"><img src="http://www.smitshah.in/assets/smit.jpg" alt="Smit Shah" >Smit Shah</div></a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>-->

  </div>